.data-container{
  margin-top: 90px;
  background-color: rgb(245, 241, 233);
  border-top: 1px solid orange;
  border-bottom: 1px solid orange;
}

.image-gallery {
  text-align: center;
  margin-top: 40px;
  padding: 20px;
  background-color: rgb(245, 241, 233); 
  margin-bottom: 70px;
}

.highlight {
  color: orange;
}


p{
  margin-bottom: 60px;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  height: 400px; 
  position: relative;
}

.image-container {
  position: relative;
  transition: flex 0.3s ease, margin 0.3s ease;
  cursor: pointer;
  flex: 0 1 100px; 
  overflow: hidden;
  height: 100%;
  margin: 0 5px;
}

.image-container.expanded {
  flex: 1; 
  margin: 0 10px; 
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.image-container.expanded img {
  transform: scale(1.1); 
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container.expanded .text-overlay {
  opacity: 1;
}

.index-number {
  position: absolute;
  top: 10px;
  left: 10px;
  background: orange;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 18px;
  color: white;
}

.text-content {
  margin-top: 10px;
}

@media (max-width: 1024px) {
  .gallery {
    height: auto; 
    flex-direction: column;
  }

  .image-container {
    width: 100%;
    height: 300px;
    flex: none;
  }

  .image-container.expanded {
    height: 400px; 
  }
}
